.grid__like{
    background-image: url("../../../images/Group.svg");
    background-color: white;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    margin-top: 26px;
    transition: .3s linear;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 12px;
    outline: none;

}
.grid__like:hover{
    opacity: 0.6;
}
