.popup__name-info{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    padding-bottom: 13px;
    max-width: 386px;
    width: 100%;
}
@media screen and (max-width: 879px){
    .popup__name-info{
        max-width: 238px;
    }
}