.grid__text_button{
    background: url("../../../../images/Group.svg");
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    align-self: center;
    transition: .3s linear;
    border: none;
    cursor: pointer;
}
.grid__text_button:hover{
    opacity: 0.6;
}