.profile__button-add{
    background: url("../../../images/Add_Button.png");
    width: 150px;
    height: 50px;
    align-self: center;
    margin-left: auto;
    transition: 0.3s linear;
}
.profile__button-add:hover{
    opacity: 0.6;
}